/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

:root{
  --text-color: #111111;
  --filters-color: #757575;
  --not-available-bg: rgb(247, 247, 247);
  --not-available-text: rgb(221, 221, 221);
  --announcement-color: #FA5900;
  /* --section-color: #E5E5E5; */
  --section-color: #f7f7f7;
  --border-light: #ccc;
}

@media screen and (min-width:1024px){
  
  #filter-options::-webkit-scrollbar {
    width: 10px;
  }
  
  #filter-options::-webkit-scrollbar-thumb {
    background: #888; 
    height: 20px;
    border-radius: 20px;
  }
  
  #filter-options::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  #filter-options::-webkit-scrollbar-track {
    background: transparent; 
  }
}

html, body, section, figure, button{
  font-family: Helvetica, Arial;
  color: var(--text-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border:none;
}

html, section, div{
  scroll-behavior: smooth;
}

h1{
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
}

p{
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

#detail h1{
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
}

#detail h2{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

#detail main > section#shoe-info{
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 20px auto;
}

#detail main > section#shoe-info > section:first-of-type{
  width: calc(100% - 500px);
  margin-right: 20px;
}

#detail main > section#shoe-info > section:first-of-type > div{
  display: flex;
  flex-wrap: wrap;
}

#detail main > section#shoe-info > section:first-of-type > div > figure{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  width: 50%;
}

#detail main > section#shoe-info > section:first-of-type > div > figure > img{
  display: block;
  float: left;
  flex: 0 0 auto;
  width: 100%;
}

#detail main > section#shoe-info > section:nth-of-type(2){
  padding: 0 10px 10px;
  margin-left: 20px;
  width: 456px;
}

#detail main > section#shoe-info > section:nth-of-type(2) > section:first-child{
  display: flex;
  justify-content: space-between;
}

#detail main > section#shoe-info > section:nth-of-type(2) > section{
  margin-bottom: 30px;
  gap: 10px;
}

#detail main > section#shoe-info > section:nth-of-type(2) > section:nth-of-type(2) span{
  display: block;
  margin: 30px 0 10px;
}

#detail main > section#shoe-info > section:nth-of-type(2) > section > div{
  display: flex;
  margin-bottom: 30px;
  gap: 10px;
}

#detail main > section#shoe-info > section:nth-of-type(2) > section:first-of-type > section:first-child{
  max-width: 300px;
}

#detail main > section#shoe-info > section:nth-of-type(2) > section:first-of-type > section:last-child{
  margin-top: 20px;
}

#detail main > section#shoe-info > section:nth-of-type(2) > section:nth-of-type(2) a{
  width: auto;
}

#detail main > section#shoe-info > section:nth-of-type(2) > section:nth-of-type(2) a img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#detail main > section#shoe-info > section:nth-of-type(2) > section:nth-of-type(2) a img.empty{
  cursor: initial;
  filter: contrast(0.5);
}

#detail main > section#shoe-info > section:nth-of-type(2) > section:nth-of-type(2) a.active img{
  border: 1px solid black;
}

#detail main > section#shoe-info > section:nth-of-type(2) > section:nth-of-type(3){
  display: block;
}

#detail main > section#shoe-info > section:nth-of-type(2) > section:nth-of-type(3) > div{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;
  margin-top: 10px;
}

#detail main > section#shoe-info > section:nth-of-type(2) > section:nth-of-type(3) > div > button{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  /* width: calc(100% / 3 - 20px); */
  height: 48px;
  border-radius: 5px;
  background-color: white;
  border:none;
  box-shadow: rgb(229 229 229) 0px 0px 0px 1px;
  font-size: 16px;
}

#detail main > section#shoe-info > section:nth-of-type(2) > section:nth-of-type(3) > div > button.empty{
  cursor: initial;
  background-color: var(--not-available-bg);
  color: var(--not-available-text);
}

#detail main > section#shoe-info > section:nth-of-type(2) > section:nth-of-type(3) > div > button.active{
  border: 1px solid black;
}

#detail main > section#shoe-info > section:nth-of-type(2) > section:nth-of-type(4){
  display: block;
  text-align: center;
}

#detail main > section#shoe-info > section:nth-of-type(2) > section:nth-of-type(4) > button{
  width: 80%;
  margin-bottom: 10px;
  padding: 18px 24px;
  border-radius: 30px;
  background-color: white;
  font-size: 14px;
  box-shadow: rgb(229 229 229) 0px 0px 0px 1px;
}

#detail main > section#shoe-info > section:nth-of-type(2) > section:nth-of-type(4) > button.primary{
  width: 100%;
  font-size: 16px;
  background-color: black;
  color: white;
}

#detail main > section#shoe-info > section:nth-of-type(3)::-webkit-scrollbar{
  display: none;
}

#detail main > section#shoe-info > section:nth-of-type(3){
  position: relative;
  margin-top: 30px;
  padding: 0 10px;
  overflow-x: scroll;
}

#detail main > section#shoe-info > section:nth-of-type(3) > div::-webkit-scrollbar{
  display: none;
}

#detail main > section#shoe-info > section:nth-of-type(3) > div{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  cursor: grab;
}

#detail main > section#shoe-info > section:nth-of-type(3) > div > figure{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: 30px;
  width: 300px;
}

#detail main > section#shoe-info > section:nth-of-type(3) > div > figure > img{
  display: block;
  float: left;
  flex: 0 0 auto;
  width: 300px;
}

#detail main > section#shoe-info > section:nth-of-type(3) > div > figure > section{
  margin: 10px 0 20px; 
}

#detail main > section#shoe-info > section:nth-of-type(3) > div > figure > section > span{
  margin: 10px 0; 
}

#detail main > section#shoe-info > section:nth-of-type(3) > div > figure > section > span:last-child{
  color: var(--filters-color);
}

#controls span{
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateX(-50%); 
  padding: 5px 10px;
  background-color: transparent;
  background-color: white;
  opacity: 0.3;
  border-radius: 5px;
  filter:drop-shadow(2px 2px 10px black);
  transition: opacity .3s;
}

#controls span:hover{
  opacity: 1;
}

#controls span:first-child{
  left: 45px;
}

#controls span:last-child{
  right: -5px;
}

#mobile-heading{
  display: none;
}

aside#cart-popup{
  opacity: 0;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
  padding: 20px;
  transition: height 1s ease-in-out;
  border: 1px solid black;
  background-color: white;
  transition: top .3s ease-out, opacity .3s ease-out;
  z-index: -1;
}

aside#cart-popup.show{
  opacity: 1;
  transition: top .3s ease-out, opacity .3s ease-out;
  z-index: 99999;
}

aside#cart-popup > button.close{
  cursor: pointer;
  float: right;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

aside#cart-popup > section{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

aside#cart-popup > section > img{
  position: relative;
  width: 25%;
  margin-right: 20px;
}

aside#cart-popup > section > div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

aside#cart-popup > section > div > span:nth-of-type(2), aside#cart-popup > section > div > span:nth-of-type(3){
  color: var(--filters-color);
}

aside#cart-popup > section.buttons > button{
  margin-bottom: 10px;
  padding: 18px 24px;
  border-radius: 30px;
  background-color: white;
  font-size: 14px;
  box-shadow: rgb(229 229 229) 0px 0px 0px 1px;
}

aside#cart-popup > section.buttons > button.primary{
  font-size: 16px;
  background-color: black;
  color: white;
}

@media screen and (max-width: 1023px) {
  
  #mobile-heading{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 10px;
  }

  #mobile-heading > section{
    max-width: 75%;
  }

  #mobile-heading h1, #mobile-heading h2{
    margin: 10px 0;
  }

  #controls, #desktop-heading{
    display: none !important;
  }

  #detail main > section#shoe-info{
    padding: 10px;
  }

  #detail main > section#shoe-info > section:nth-of-type(2){
    width: 100%;
    margin: 0;
  }

  #detail main > section#shoe-info {
    display: block;
  }
  
  #detail main > section#shoe-info > section:first-of-type{
    position: relative;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 100%;
  }

  #detail main > section#shoe-info > section:first-of-type > figure > img{
    width: 100%;
  }

  #detail main > section#shoe-info > section:first-of-type > div > figure > img{
    width: 100%;
  }
}

@media screen and (max-width: 424px){

  #detail main > section#shoe-info > section:first-of-type > div{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  
  #detail main > section#shoe-info > section:first-of-type > div > figure{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 100%;
    margin-right: 20px;
  }

  #detail main > section#shoe-info > section:first-of-type > div > figure > img{
    display: block;
    float: left;
    width: 100%;
  }

  #detail main > section#shoe-info > section:nth-of-type(3) > div > figure, 
  #detail main > section#shoe-info > section:nth-of-type(3) > div > figure > img{
    width: 100%;
    flex-shrink: 0;
  }
}
/* overviewpagina */

a {
  color: black;
  text-decoration: none;
}

header {
  display: grid;
  grid-template-columns: 35% 10fr 5fr;
  align-items: center;
}

header nav{
  margin: 14px;
}

nav#joinus {
  /* flex: 0 0 100%; */
  grid-column: 1/ -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: .5em;
  background-color: var(--section-color);
}

nav#joinus ul {
  font-family: 'PT Sans Narrow', sans-serif;
  display: flex; 
}

nav#joinus li {
  list-style-type: none;
}

nav#joinus ul:first-of-type{
  display: flex;
  gap: 1.5em;
  margin-left: 14px;
}
nav#joinus ul:first-of-type img{
  width: 1.5em;
}

nav#joinus ul:last-of-type li a{
  padding-right: 1em;
  padding-left: 1em;
  border-right-style: solid;
  border-right-width: 1px;
  text-decoration: none;
  font-size: .8em;
  color: black;
}

nav#joinus ul:last-of-type li:last-child a{
  border: 0;
}

@media screen and (max-width: 1023px){
  nav#joinus {
    display: none;
  }

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

header .logo img{
  width: 60px;
  height: auto;
}

header .links{
  display: flex;
  list-style: none;
  gap: 24px;
}

@media screen and (max-width: 1023px){
  header .links{
    display: none;
  }
}


header .mobile-links{
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  margin: 0;
  padding: 36px 36px 150px;
  background-color: white;
  list-style: none;
  overflow-y: scroll;
  visibility: hidden;
  -webkit-transition: width .25s, visibility 100ms;
  transition: width .25s, visibility 100ms;
  z-index: 9999999;
}

body.menu-open header .mobile-links{
  position: fixed;
  width: 320px;
  visibility: visible;
}

header .mobile-links li{
  list-style-type: none;
}

header .mobile-links ul:first-of-type{
  margin-bottom: 40px;
}

header .mobile-links ul:first-of-type li a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

header .mobile-links li a p{
  line-height: 1.166667;
  font-size: 24px;
}

header .mobile-links ul:nth-of-type(2) a{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

header .mobile-links ul:nth-of-type(2) a > img{
  width: 30px;
  height: 30px;
}

header .mobile-links ul:nth-of-type(2) a > p{
  line-height: 1;
  padding-left: 12px;
  font-size: 16px;
}

header .mobile-links > section > p{
  margin: 50px 0px;
  font-size: 20px;
  color: var(--filters-color);
}

header .mobile-links > section > section{
  position: relative;
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

header .mobile-links > section > section > a{
  padding: 8px 24px;
  border-radius: 20px;
}

header .mobile-links > section > section > a:first-of-type{
  background-color: black;
  color: white;
  margin-right: 5px;
}

header .mobile-links > section > section > a:last-of-type{
  border: 1px solid var(--border-light);
}

header .mobile-links ul:last-of-type{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

header .mobile-links ul:last-of-type a{
  display: flex;
  align-items: center;
  gap: 20px;
}

header .mobile-links ul:last-of-type i{
  font-size: 24px;
}

header .mobile-links ul:last-of-type p{
  font-size: 16px;
}

body.menu-open, body.mobile-filter-open{
  overflow: hidden;
}

body.menu-open > section, body.search-open > section{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1212125c;
  backdrop-filter: blur(4px);
  z-index: 99999;
}

header nav#hamburger{
  display: flex;
  justify-content: center;
  gap: 10px;
  order: 1;
}


header nav#hamburger img, 
header nav#search img,
header nav#search-results img{
  width: 35px;
  height: auto;
  background-color: transparent;
}

header nav#search{
  display: none;
  justify-content: center;
  gap: 10px;
}

header nav#search div{
  position: relative;
  width: 180px;
  cursor: text;
}

header nav#search div input,
header nav#search-results div input{
  width: 180px;
  height: 40px;
  padding: 8px 48px;
  background-color: var(--section-color);
  color: var(--filter-color);
  border: 0;
  border-radius: 100px;
  font-weight: 500;
  cursor: text;
  outline: 0;
}

header nav#search div input:hover,
header nav#search-results div input:hover{
  background-color: var(--border-light);
}

header nav#search div input::-webkit-input-placeholder,
header nav#search-results div input::-webkit-input-placeholder{
  font-size: 1.25em;
}

header nav#search div img,
header nav#search-results div img{

  position: absolute;
  left: 5px;
}

header nav#search-results{
  position: fixed;
  top: 0;
  right: 0;
  display: grid;
  grid-template-columns: 5fr 0fr;
  grid-template-rows: 1fr 5fr;
  align-items: center;
  gap: 1em;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  background-color: #fff;
  z-index: -1;
  overflow: auto;
  transition:  width .3s, height 0.5s ease-in;
  z-index: 999999;
}

body.search-open header nav#search-results{
  width: 100%;
  height: 100%;
  padding: .5em 1em;
  transition-timing-function: ease-out;
}

body.search-open header nav#search-results a{
  display: none;
  text-align: left;
}

body.search-open header nav#search-results a img{
  width: 60px;
}

body.search-open header nav#search-results div{
  position: relative;
} 

body.search-open header nav#search-results div input{
  width: 100%;
}

body.search-open header nav#search-results button{
  justify-self: end;
  width: 40px;
  height: 40px;
  background-color: var(--section-color);
  border-radius: 50%;
}

body.search-open header nav#search-results > section{
  grid-column: 1;
  align-self: baseline;
  grid-template-columns: 1fr min-content;
}

body.search-open header nav#search-results > section.searching{
  grid-column: 1/-1;
  /* display: grid; */
  /* grid-template-columns: 2fr 7fr; */
  /* column-gap: 1.5em; */
  margin: 2em 0;
  display: flex;
  flex-direction:column;
  gap: 2em;
}

body.search-open header nav#search-results > section > h3{
  color: var(--filters-color);
  font-size: 1em;
  font-weight: 400;
  margin: 0 0 1.25em;
}

body.search-open header nav#search-results > section.searching > h3{ 
  grid-column: 1/-1;
  position: absolute;
}

body.search-open header nav#search-results > section > ul{
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  list-style: none;
}

body.search-open header nav#search-results > section.searching > ul{
  grid-column: 1;
  margin-top: 30px;
}

body.search-open header nav#search-results > section > ul li{
  font-size: 1.25em;
}

body.search-open header nav#search-results > section > section.list{
  display: none;
  gap: .5em;
  overflow-x: auto;
}

body.search-open header nav#search-results > section.searching > section.list{
  /* display: flex; */
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

body.search-open header nav#search-results > section > section.list article a{
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  /* width: 150px; */
  width: auto;
}

body.search-open header nav#search-results > section > section.list article a img{
  order: -1;
  width: 100%;
}

body.search-open header nav#search-results div.no-results{
  display: none;
}

body.search-open header nav#search-results div.no-results.show{
  display:block;
  grid-column: 2;
  grid-row: 1;
}

@media screen and (min-width: 1024px) {

  header nav#search-results{
    grid-template-rows: 1fr 3fr;
    overflow: hidden;
  }
  
  body.search-open header nav#search-results{
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 1fr 3fr;
    height: min-content;
  }
  
  body.search-open header nav#search-results a{
    display: block;
  }
  
  body.search-open header nav#search-results > section{
    grid-column: 2;
  }
  
  body.search-open header nav#search-results > section.searching{
    display: grid;
    grid-template-columns: 2fr 7fr;
    column-gap: 1.5em;
  }

  body.search-open header nav#search-results > section.searching > section.list{
    display: flex;
  }

  body.search-open header nav#search-results > section > section.list article a{
    width: 150px;
  }
  
  header nav#hamburger{
    display: none;
  }

  header nav#search{
    display: flex;
  }
}

@media screen and (max-width: 374px){
  header .mobile-links{
    padding: 25px 25px 150px;
  }

  body.menu-open header .mobile-links{
    width: 85%;
  }
}

#overview main {
  /* display:grid; */
  /* grid-template-columns: 15em 1fr; */
}

#announcement-banner{
  position: relative;
  text-align: center;
}

#announcement-banner p{
  background-color: var(--section-color);
  box-shadow: 0 0 1px var(--filters-color);
  padding: 10px 20px;
}

section#shoe-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
  z-index: 99;
}

section#shoe-title.sticky{
  position: sticky;
  top: 0px;
}

section#shoe-title h1{
  font-size: 20px;
  /* margin-top: 10px; */
}

section#shoe-title h1 > span{
  display: none;
}

section#shoe-title > section{
  position: relative;
  display: flex;
  gap: 1.5em;
}

section#shoe-title > section > button{
  background-color: transparent;
  font-size: 1em;
  cursor: pointer;
}

section#shoe-title > section > div{
  position: absolute;
  top: 25px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: .5em;
  padding: 1.5em 20px;
  background-color: white;
  border-radius: 0px 0px 0px 20px;
  z-index: 99999;
  visibility: hidden;
}

section#shoe-title > section > div span{
  cursor: pointer;
}

section#shoe-title > section > div span:hover, section#shoe-title > section > div span.active{
  color: var(--filters-color)
}

body.sortby-open section#shoe-title > section > div{
  visibility: visible;
  -webkit-transition: height .25s, visibility 100ms;
  transition: height .25s, visibility 100ms;
}

@media screen and (max-width:1023px){
  section#shoe-title > section{
    display: none;
  }
}

@media screen and (min-width:1024px){
  .sort-by{
    display: none;
  }
}

main > section.shoe-type::-webkit-scrollbar {
  display: none;
}

main > section.shoe-type{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  border-bottom: 1px solid var(--section-color);
}

main > section.shoe-type span{
  padding: 15px;
  flex-shrink: 0;
}

main > section.shoe-type span.active{
  border-bottom: 3px solid var(--text-color);
}

#filter-buttons-mobile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#filter-buttons-mobile p{
  color: var(--filters-color);
}

#filter-buttons-mobile button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  padding: 10px 20px;
  border: 1px solid var(--border-light);
  background-color: white;
  border-radius: 20px;
  font-size: 16px;
}

#filter-buttons-mobile button:active{
  border: 1px solid var(--text-color);
}


/* filter */
#filter-options{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100vw;
  padding: 20px;
  background-color: white;
  list-style: none;
  overflow-y: scroll;
  visibility: hidden;
  -webkit-transition: height .25s, visibility 100ms;
  transition: height .25s, visibility 100ms;
  z-index: 9999999;
}

body.mobile-filter-open #filter-options{
  position: fixed;
  height: 100vh;
  visibility: visible;
}

#filter-options > section:first-of-type{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#filter-options > section:first-of-type > span{
  font-size: 24px;
}

#filter-options > section:first-of-type > button{
  position: fixed;
  right: 20px;
  font-size: 32px;
  background-color: #0000;
}

#filter-options > form{
  margin-bottom: 62px;
}

#filter-options > form > section > p{
  margin: 30px 0 20px;
}

#filter-options fieldset{
  border: none;
}

#filter-options > form fieldset{
  position: relative;
  padding: 10px  0;
  margin: 30px 0 0;
  max-height: 480px;
  height: auto;
  border-bottom: 1px solid var(--section-color);
  
  transition: max-height 0.4s;
  overflow: hidden;

  -webkit-user-select: none;    /* Safari */
  -webkit-touch-callout: none;  /* iOS Safari */
  -khtml-user-select: none;     /* Konqueror HTML */
  -ms-user-select: none;        /* Internet Explorer/Edge */
  -moz-user-select: none;       /* Old versions of Firefox */
  user-select: none;
  
}

#filter-options > form fieldset.closed{
  max-height: 0;
}

#filter-options > form fieldset legend{
  display: block;
  width: 100%;
  cursor: pointer;
}

#filter-options > form fieldset legend::before,
#filter-options > form fieldset legend::after{
	content: "";
	position: absolute;
  top: 10px;
	width: .65em;
	height: 2px;
	background-color: black;
  border-radius: 20px;
	transition: .3s;
}

#filter-options > form fieldset legend::before{
  right:calc(1em - 1px);
  transform-origin:calc(.65em - 1px) 1px;
  transform:translatey(-.3em) rotate(-45deg);
}

#filter-options > form fieldset legend::after{
  right:calc(.325em + 1px);	
  transform-origin:1px 1px;
  transform:translatey(-.3em) rotate(45deg);
}

#filter-options > form fieldset.closed legend::before {
  transform:translatey(.3em) rotate(45deg);
}

#filter-options > form fieldset.closed legend::after {
  transform:translatey(.3em) rotate(-45deg);
}

#filter-options > form fieldset i{
  display: none;
  position: absolute;
  top: -18px;
  right: 5px;
}

#filter-options > form fieldset div{
  display: grid;
  grid-template-columns: 1fr;
  column-gap: .5em;
  row-gap: .75em;
  margin: 20px 0;
}

#filter-options > form fieldset div input{
  grid-column: 1;
}

#filter-options > section:last-of-type{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 82px;
  padding: 20px;
  background-color: white;
  border-top: 1px solid var(--section-color);
}

#filter-options > section:last-of-type button{
  padding: 0.5em 1em;
  border: 1px solid var(--border-light);
  border-radius: 2em;
  background: #fff;
  flex-grow: 1;
  margin: 0.25em;
  line-height: 32px;
  font-size: 16px;
}

#filter-options > section:last-of-type button:last-of-type{
  background-color: black;
  color:white;
}

.categories {
  padding-inline-start: .7em;
}

.categories li {
  margin-bottom: 1em;
  font-weight: 400;
}

.filter h3 {
  font-size: 16px;
  font-weight: 550;
}

.filter {
  margin-left: 1em;
  margin-right: 1em;
}

.filter ul li {
  list-style: none;
}

ul.geslacht {
  padding-inline-start: .1em;
  align-content: right;
}

ul.prijs {
  padding-inline-start: .1em;
  align-content: right;
}

input + label{
  cursor: pointer;
}

input + label span {
  width: max-content;
  position: absolute;
  margin-left: .5em;
  color: var(--text-color);
}

input[type=checkbox] + label {
	position:relative;
	box-sizing:border-box;
	display:flex;
  align-items: center;
	width:1.5em;
	height:1.5em;
	padding-left:1.5em;
	background-color:white;
	border: 1px solid var(--border-light);
	border-radius:0.25em;
}

input[type=radio] + label {
  position:relative;
	box-sizing:border-box;
	display:block;
	width:1.5em;
	height:1.5em;
	padding-left:1.5em;
	background-color:white;
	border: 1px solid var(--border-light);
	border-radius:50%;
}

input:focus-visible + label {
	box-shadow:0 0 0 3px blue;
}

input:checked[type=checkbox] + label {
  background-color: black;
  border-color: black;
  color: white;
}

input:checked[type=radio] + label {
  border-color: black;
}

input[type=checkbox]:checked + label::after {
  content: "\2714";
  position: absolute;
  bottom: 50%;
  left: 20%;
  width: 60%;
  height: 60%;
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
}

input[type=radio]:checked + label::after {
  content: "";
	position:absolute;
	bottom:20%;
	left:20%;
	width:60%;
	height:60%;
	background-color: black;
	border-radius: 50%;
	border: 1px solid black;
}

input[type=checkbox], 
input[type=radio]{
	position: absolute;
	width: 0px;
	height: 0px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	white-space: nowrap; /* added line */
	border: 0;
}

#filter-options fieldset.shoe-type{
  display: none;
}

#filter-options > form fieldset.size div {
  display: flex;
  flex-wrap: wrap;
}

#filter-options > form fieldset.size div label {
	position:relative;
	display:flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 52px;
	height:2em;
	padding: 0 1em;
	background-color:white;
	border: 1px solid var(--border-light);
	border-radius: 0.3em;
}

#filter-options > form fieldset.size div label span{
  margin: 0;
}

#filter-options > form fieldset.size div input:focus-visible + label {
	box-shadow:0 0 0 3px blue;
}

#filter-options > form fieldset.size div input:checked + label {
  border-color: black;
  border-width: 2px;
  color: black;
}

#filter-options > form fieldset.size div input:checked + label::after {
  content: "";
}


#filter-options > form fieldset.color div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2.5em;
}

#filter-options > form fieldset.color div label{
	position:relative;
  justify-self: center;
	display:flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 52px;
	height:2em;
	width:2em;
  padding: 0;
	border: 1px solid var(--border-light);
	border-radius: 50%;
}

#filter-options > form fieldset.color div label span{
  left: 0;
  margin: 0;
  bottom: -25px;
}

#filter-options > form fieldset.color div input:checked + label::after {
  content: "\2714";
  position: absolute;
  bottom: 35%;
  left: 25%;
  width: 60%;
  height: 60%;
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
}

#filter-options > form fieldset.color div input#color-1 + label{
  background-color: black;
}

#filter-options > form fieldset.color div input#color-2 + label{
  background-color: blue;
}

#filter-options > form fieldset.color div input#color-3 + label{
  background-color: green;
}

#filter-options > form fieldset.color div input#color-4 + label{
  background-color: brown;
}

#filter-options > form fieldset.color div input#color-5 + label{
  background-color: grey;
}

#filter-options > form fieldset.color div input#color-6 + label{
  background-color: pink;
}

#filter-options > form fieldset.color div input#color-7 + label{
  background-color: white;
}

#filter-options > form fieldset.color div input#color-7 + label::after{
  color: black;
}

.color button.active{
  box-shadow: black 0px 0px 1px 3px;
}

button.colorzwart {
  background-color: black;
}

button.colorzwart.active {
  box-shadow: grey 0px 0px 1px 3px;
}

button.colorgroen {
  background-color: green;
}

button.colorblauw {
  background-color: blue;
}

button.colorbruin {
  background-color: brown;
}

button.colorgrijs {
  background-color: grey;
}

button.colororanje {
  background-color: orange;
}

button.colorrood {
  background-color: red;
}

#shoe-overview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media screen and (min-width: 1024px) {
  
  main > div{
    display: grid;
    grid-template-columns: 260px 1fr;
    gap:20px
  }

  body.filter-closed main > div{
    grid-template-columns: 1fr;
  }

  
  #filter-options{
    position: relative;
    width: auto;
    height: min-content;
    max-height: 100%;
    visibility: visible;
    -webkit-transition: width .25s, visibility 100ms;
    transition: width .25s, visibility 100ms;
    padding-top: 0;
    z-index: 0;
  }
  
  body.filter-closed #filter-options{
    display: none;
  }

  #filter-options > form fieldset i{
    display: block;
  }
  
  main > section.shoe-type,
  #filter-buttons-mobile,
  #filter-options > section:first-of-type,
  #filter-options > section:first-of-type > button,
  #filter-options > section:last-of-type{
    display: none;
  }
  
  #filter-options fieldset.shoe-type{
    display: block;
  }

  #overview article a {
    height: auto !important;
  }

  section#shoe-title > h1 > span {
    display: inline-block;
  }
}

#shoe-overview img {
  height: auto;
  width: 100%;
}

#overview #shoe-overview article {
  position: relative;
  text-align: left;
  width: calc(100% / 2 - 5px);
  margin-bottom: 20px;
}

@media screen and (min-width: 960px) {
  #overview #shoe-overview article {
    width: calc(100% / 3 - 5px);
  }

  #shoe-overview{
    gap: 7px;
  }
}

#overview article a{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  height: 100%;
  max-width: 592px;
}

#overview article a h2, #overview article a p{
  padding-left: 10px;
}

#overview article a img{
  order: -1;
}

#overview article p:first-of-type {
  color: red;
}

#overview h2 {
  font-size: 1em;
  margin-top: .2em;
  font-weight: normal;
}

#overview article p {
  margin-bottom: 0;
  line-height: 1.25em;
}

/* footer */
footer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  padding: 20px;
  background-color: black;
  color: #919191;
  font-size: 1em;
  bottom: 0;
}

footer ul {
  list-style-type: none;
}

@media screen and (max-width: 639px){
  
  footer > ul > li{
    display: block;
    width: 100%;
  }
}

footer ul li span{
  font-weight: 700;
  color: white;
}

footer ul li ul{
  gap: 5px;
  display: flex;
  flex-direction: column;
}


footer > ul {
  display: flex;
  gap: 20px;
}

footer > ul:first-of-type {
  flex-wrap: wrap;
  gap: 40px;
}

footer a {
  color: white;
  font-size: 1em;
  text-decoration: none;
  border-bottom: none;
}

.social-media{
  margin-top: 20px;
}

.social-media li img {
  width: 30px;
  height: 30px;
  background-color: var(--filters-color);
  color: var(--text-color);
  border-radius: 50%;
  padding: .5em;
}

@media screen and (max-width:800px){

  footer{
      height: auto;
  }

  #customer-service{
      width: 100%;
  }

  footer div{
      display: block;
      width: 100%;
      flex-direction: column;
      position: relative;
      height: 250px;
  }

}